body {
  background-color: #ffffff;
  color: #666666;
}

header {
  background-color: #000033;
  color: #ffffff;
}

nav {
  background-color: #90c7e3;
}

h2 {
  color: #000033;
}

.resort {
  color: #5c7fa3;
}
