*{
  box-sizing:border-box;
}

body{
  background-color:#88D8ED;
  color:#666666;
  font-family:Arial, Helvetica, sans-serif;
}

header{
  background-color:#000033;
  color:#FFFFFF;
  background-repeat: no-repeat;
  background-position: right;
  height:120px;
  text-align:center;
  padding-top:30px;
  padding-left:3em;
}

nav{
  font-weight:bold;
  padding:1.5em;
  font-size:120%;
  width:30%;
  display:inline-block;
  vertical-align:top;
}

nav ul{
  list-style-type: none;
  margin:0px;
  padding-left:0px;
  font-size:1.2em;
}

nav a {
  transition-property: color;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

nav a:link{
  color:#5C7FA3;
}

nav a:visited{
  color:#344873;
}

nav a:hover{
  color:#A52A2A;
}

h1, h2, h3 {
  font-family:Georgia, 'Times New Roman', Times, serif
}

h3 {
  color: #000033;
}

h2{
  color:#000033;
  text-shadow:1px 1px #CCCCCC;
}

h1 {
  margin-top:0px;
  margin-bottom:0px;
  font-size:3em;
  letter-spacing:0.25em;
}

main ul {
  list-style-image: url(images/marker.gif);
}

table, td, th{
  border:2px solid #3399CC;
  border-collapse: collapse;
}

td, th {
  padding: 0.5em;
  text-align: center;
}

tr:nth-of-type(odd) {
  background-color: #a6d6e9;
}

main{
  padding:1px 20px 20px;
  width:70%;
  display:inline-block;
  vertical-align:top;
  background-color:#FFFFFF;
}

footer {
  font-size: 75%;
  padding:20px;
  background-color:#FFFFFF;
}

label{
  display:block;
}

input, textarea {
  display:block;
  margin-bottom:20px;
}

video{
  float:right;
  padding-left:20px;
}

.text{
  text-align: left;
}

.resort{
  color:#5C7FA3;
  font-weight: 700;
}

#contact {
  font-size:90%;
}

#wrapper {
  width: 80%;
  background-color:#90C7E3;
  background-image: linear-gradient(#FFFFFF, #90C7E3);
  box-shadow:3px 3px #333333;
}

#homehero{
  height:300px;
  background-image: url(images/coast.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center;
}

#yurthero{
  height:300px;
  background-image: url(images/yurt.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center;
}

#trailhero{
  height:300px;
  background-image: url(images/trail.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center;
}

#mobile {
  display:none;
}

#desktop {
  display:inline;
}

#gallery{
  display:grid;
  grid-template-columns: 30% 70%;
  justify-items:center;
  align-items:center;
}

#thumbnails{
  text-align:center;
}

#bigImage{
  width:100%;
  height:auto;
}

/* Tablet View */ 
@media only screen and (max-width:1024px) {
  body{
      margin:0px;
      background-color:#FFFFFF;
  }
  #wrapper{
      min-width:0px;
      width:auto;
      box-shadow:none;
      border:none;
  }
  header{
      padding:0.5em 0em;
      height:auto;
  }
  h1{
      letter-spacing:0.1em;
  }
  main{
      display:block;
      width:100%;
  }

  nav{
      display:block;
      width:100%;
      text-align:center;
      padding:0.5em;
  }

  nav ul{
      display:flex;
      justify-content:space-around;
  }

  #homehero,#yurthero,#trailhero {
      height:200px;
  }
}

/* Smartphone View */ 
@media only screen and (max-width:600px) {
  main{
      padding:0.1em 1em;
      font-size:90%;
  }
  h1{
      font-size:2em;
  }
  nav{
      padding:0px;
  }
  nav ul{
      display:block;
  }
  nav li{
      display:block;
      border-bottom:1px solid black;
      padding:0px;
  }
  nav a {
      display:block;
      padding:0.25em 0.75em;
  }
  #homehero,#yurthero,#trailhero {
      display:none;
  }
  #mobile{
      display:inline;
  }
  #desktop{
      display:none;
  }
}