body {
  background-color: #ffffff;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #000033;
  color: #ffffff;
  background: url("images/sunset.jpg") no-repeat right;
  line-height: 400%;
  text-indent: 1em;
}

nav {
  background-color: #90c7e3;
  font-weight: bold;
}

nav a {
  /*text-decoration: none; */
}

h1,h2,h3 {
  font-family: Georgia, "Times New Roman", serif;
}

h2,h3 {
  color: #000033;
}

ul {
  list-style-image: url("images/marker.gif");
}

footer {
  font-size: 75%;
}

.resort {
  color: #5c7fa3;
  font-weight: bold;
}

#contact {
  font-size: 90%;
}
